@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --myfont: "Open Sans", sans-serif;
    --width: 75%;
    --primary-color: #786ebd;
    --background-color: #fff;
    --secondary-color: #ef033e; 
    --tertiary-color: #5a99f8;
    --fontcolor: #6a6874;
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: #034ad8;
    --pagefind-ui-text: #ffffff;
    --pagefind-ui-background: #b1a9e0;
    --pagefind-ui-border: #eeeeee;
    --pagefind-ui-tag: #eeeeee;
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: "Open Sans", sans-serif;
    --marquee-width: 100%;
    --marquee-height: 300px;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 3;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 7s);
}

@media all and (max-width: 960px) {
    :root {
        --width: 100%;
    }
}

body {
    overscroll-behavior: none;
    margin: 0 auto;
    padding: 0;
    font-family: var(--myfont);
    color: var(--fontcolor);
}

a{
    text-decoration: none;
    color: var(--tertiary-color);
}

h2, h1{
    margin-top: 50px;
}

h1:first-of-type{
    margin-top: 0;
}

#logo{
    width: fit-content;
    float: left;
    margin: 30px 0 0 10px;
}

nav li{
    display: inline;
    padding-right: 5px;
}


#headercontainer{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    margin: 0 auto;
    height: auto;
}

#headercontent{
    position: relative;
    width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

#projects{
    color: var(--primary-color);
}

main{
    position: relative;
    margin: 0 auto;
    width: var(--width);
    padding: 20px 0;
}

#tilecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.tile{
    width: 33%;
    height: 250px;
    padding: 10px 30px 30px 30px;
    box-shadow: var(--primary-color) 0px 8px 10px -10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    position: relative;    
}

.tile_map{
    display: flex;
    justify-content: center;
}

.tilemore{
    position: absolute;
    bottom: 20px;
}

.tile_circles{
    display: flex;
    justify-content: space-between;
}

.stat_map{
    height: 230px;
}

.subtile{
    width: 50%;
}

.stat_circle{
    max-height: 150px;
    width: 100%;
}

.tile h1{
    color: var(--primary-color);
    margin: 0 0 5px 0;
    letter-spacing: 1px;
    font-size: 20px;
}

.tile a{
    color: var(--secondary-color)
}

.gridcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.gridcontainer a{
    color: var(--primary-color)
}

.researchertile > ul, .subresearchertile > ul {
    list-style-type: none;
}
.subgridcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.researchertile > ul {
    padding-left: 25px;
}
.subresearchertile > ul {
    padding-left: 50px;
}

.subresearchertile > h3{
    background-color: #bf9ae5;
    font-family: inherit;
    color: #FFF;
    font-weight: normal;
    padding: 5px 50px 5px;
}

  
.researchertile > h2{
    background-color: var(--primary-color);
    font-family: inherit;
    color: #FFF;
    font-weight: normal;
    padding: 5px 25px 5px;
}

.researchertile:first-child {
    grid-column: 1 / span 2; /* make this item span two columns */
  }


#postcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.post{
    width: 50%;
    margin: 5px;
    height: 300px;
    box-shadow: var(--primary-color) 0px 8px 10px -10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    overflow: hidden;
    position: relative;
}

.post h1{
    color: var(--primary-color);
    font-size: 20px;
}

.post a{
    text-decoration: none;
}

.postcontent{
    padding: 10px 10px 30px 10px;
}

.postextra{
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 5px;
    margin: 0;
    background-color: var(--pagefind-ui-background);
    padding: 5px 20px 0 20px;
    color: #fff;
}

.postextra a{
    font-weight: bold;
    color: #fff;
}

a.morearticles{
    color: var(--tertiary-color);
    float: right;
    margin: 30px 0 30px 0;
}

.paginationmenu{
    text-align: center;
}

.postextra time{
    float: left;
}

.element{
    clear: both;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}


@media only screen and (max-width: 1000px) {
    .tile{
        width: 100%;
    }
    
    .researchertile{
        width: 100%;
    }
    

    #postcontainer{
        position:relative;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .post{
        position:relative;
        margin: 10px 0 0 0;
        width: 100%;
    }

    #tilecontainer{
        gap: 20px;
        flex-direction:  column;
        flex-wrap: wrap;
    }

    #headercontent{
        flex-wrap: wrap;
    }

    .headerelement{
        width: 100%;
        margin: 0 auto;
        clear: both;
    }
}

@media only screen and (max-width: 800px) {
    .pagefind-ui__result-excerpt.svelte-j9e30.svelte-j9e30{
        font-size: 13px;
    }

    .pagefind-ui__result.svelte-j9e30.svelte-j9e30.svelte-j9e30{
        padding: 0 5px 0 5px;
    }    

    .pagefind-ui__result-inner.svelte-j9e30.svelte-j9e30{
        margin: 0;
    }

    .pagefind-ui__button.svelte-e9gkc3{
        margin-top: 5px;
    }
    .pagefind-ui__message.svelte-e9gkc3{
        padding: 0 5px 0 5px;
    }

}


p{
    margin: 30px 0 0 0;
}

ol li ul li{
    margin-left: 50px
}

#about{
    background-color: var(--primary-color);
    color: #fff;
}

.accent{
    background-color: var(--primary-color);
    color: #fff;
    display: block;
    clear: both;
}

#about img{
    float: left;
}

#bottomcontainer{
    width: 100%;
    background-color: var(--primary-color);
    color: #FFF;
}

#bottomcontent{
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    width: var(--width);
}

footer{
    width: 100%;
    min-height: 200px;
    background-color: var(--primary-color);
}


footer ul {
    list-style-type: none;
    padding: 0;
}

footer a{
    color: #fff;
}

#footercontainer{
    margin: 0 auto;
    width: var(--width);
    color: #fff;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#footerlogo{
    width: 200px;
    margin-left: 10px; /*Change this, lol */
}

.footerelement > h1{
    opacity: 0.5;
    margin: 10px 0 0 0;
    font-family: inherit;
    font-weight: 200;
    font-size: 1.5em;
}

.footerelement{
    margin: 0 10px 10px 10px;
    padding: 0;
    width: 100%;
}

#hcdhlogo{
    width: 100px;
    height: auto;
}

.sociallogo{
    opacity: 0.5;
    width: 30px;
    padding: 10px;
}

#about_menu{
    width: 100%;
    padding-bottom: 10px;
}

#about_menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* button magic */

.button > img{
    height: 30px;
    margin-left: 20px;
    vertical-align: middle;
}

.button {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 300% auto;
    color: white !important;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 500;
    background-image: linear-gradient(45deg, #e0062a 0%, #ef033e  51%, #e0062a  54%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Roboto Mono", monospace;
}

.button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
}

.subresearchertile > .button,
.researchertile > .button{
    margin: 0 auto;
    margin-top: 10px;
    text-transform: none;
    background-color: var(--tertiary-color);
    background-image: none;
    font-weight: normal;
}

/* Navigation */


#navcontainer{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    min-height: 100px;
}

nav{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

nav a{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
  }

/* mobile first */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    clear: both;
    width: 100%;
    margin: 0 auto;
    min-height: 25px;
    padding: 0;
}

.menu > .item > a.highlight{
    color: #00b0f0;
}

.page-link { 
    color: var(--secondary-color);
}

.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}

.active{
    padding: 0;
}
/* Desktop nav */

@media all and (min-width: 960px) {

    nav{
        width: var(--width);
    }
    .menu {
        align-items: flex-end;     
        flex-wrap: nowrap;
        background: none;
        width: auto;
        clear: none;
        justify-content: flex-end;
    }
    .logo {
        order: 0;
    }

    #logo{
        margin-top: 15px;
    }
    
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
        
    .footerelement{
        width: auto;
    }

    #about_menu ul{
        flex-direction: row;
    }
}


/* Start search result madness */
#search{
    width: 100%;
    padding: 0 0 10px 0;
    clear: both;
}

mark {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.pagefind-ui__drawer{
    background-color: #b1a9e0;
}

.pagefind-ui__message.svelte-e9gkc3{
    padding: 0 10px 0 10px;
    height: fit-content;
}

.pagefind-ui__result.svelte-j9e30.svelte-j9e30{
    gap: 0;
    padding: 10px;
}

ul.publicationauthors, ul.publicationauthors > li {
    display: inline;
    list-style: none;
    padding: 0;
}


.publicationauthors li::after{
    content: ",";
}

.publicationauthors li:last-child::after{
    content: "";
}
/* End search result madness */

/* Start marquee magic */

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    overflow: hidden;
    position: relative;
  }

  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }

  .marquee:before {
    left: 0;
    /* background: linear-gradient(to right, #111 0%, transparent 100%); */
  }

  .marquee:after {
    right: 0;
    /* background: linear-gradient(to left, #111 0%, transparent 100%); */
  }

  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }

  .marquee-content:hover {
    animation-play-state: paused;
  }

  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }

  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
    /* margin-right: 100px; */
  }
  
  .marquee-content li img {
    width: 100%;
    max-height: 150px;
  }
  
  .marquee-content li img:hover {
    width: 98%;
    height: 98%;
  }

  @media (max-width: 600px) {
    :root {
      --marquee-width: 100%;
      --marquee-height: var(--marquee-height);
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
      
  }

  /* End marquee magic */
  /* Button styles */
  .checked-mode{
    background-color: red;
  }

  .processselector{
    display: block;
    margin: 10px;
    clear: right;
  }

  .processselector.checked-mode{
    display: block;
    margin: 10px;
    clear: right;
    background-color: green;
  }

  /* Code block render per language */
  
  code {
    padding: 2px 5px;
    color: #f8f8f2;
    background-color: #38365b;
  }
  
  pre code {
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }
  /*custom drive display*/
  

  .drive{
    display: block;
    overflow: hidden;
    width: 80%;
    margin: 10px auto;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 10px;
  }

  .drivetitle{
    width: 90px;
    float: left;
    height: 90px;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    margin-right: 10px;
  }

  .comment{
    background-color: pink;
    font-weight: bold;
    color: red;
  }

  /* chartjs */

  .chartcontainer{
    position: relative; /* required for the responsiveness of chartjs charts */
    width: 100%;
    height: 100%;
    height: 450px;
}

/* Project carousel */

.projectCarousel{
    position: relative;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    height: 200px;
    justify-content: center;
}

.projectContent{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    flex: 0 0 auto;
    justify-content: center;
    box-shadow: var(--primary-color) 0px 8px 10px -10px;
    border-radius: 25px;
    background-color: #fcfcfc;
}


.projectContent > p{
    margin: 0;
}

.projectItem{
    width: 100%;
}

.active{
    display: flex;
}

.projectLink{
    width: 35%;
    display: block;
    color: var(--tertiary-color);
}

.projectName{
    cursor: pointer;
}

/* Publications per author */

li.key{
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
}

.publicationitems{
    list-style-type: none;
}

#main-content > ul, #main-content > ol {
    margin-top: 20px;
}

#main-content > ul > li > ul > li{
    margin-left: 40px;
}


/* footer */


.waves > use {
    animation: move-forever 40s -90s linear infinite;
    fill: #786ebd;
    fill-opacity: .2;
  }
  
  .waves > use:nth-child(2) {
    animation-delay: -20s;
    animation-duration: 30s;
    fill-opacity:.5;
  }

  .waves > use:nth-child(3) {
    animation-delay: -10s;
    animation-duration: 20s;
    fill-opacity:1;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  #footertop{
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#footertop > svg {
    max-height: 100px;
    width: 100%;
  }