@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --myfont: "Open Sans", sans-serif;
    --width: 75%;
    --primary-color: #786ebd;
    --alternative-primary-color: #cecbe8;
    --background-color: #e4e2f2;
    --secondary-color: #001158; 
    --tertiary-color: #5cb1eb;
    --fontcolor: #6a6874;
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: #034ad8;
    --pagefind-ui-text: #6a6874;
    --pagefind-ui-background: #e4e2f2;
    --pagefind-ui-border: #6a6874;
    --pagefind-ui-tag: #eeeeee;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: "Open Sans", sans-serif;
    --pagefind-ui-primary: #786ebd;
    --marquee-width: 100%;
    --marquee-height: 300px;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 3;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 7s);
}

.pagefind-ui__search-clear, .pagefind-ui__button.svelte-e9gkc3{
    border: 0px;
}


@media all and (max-width: 960px) {
    :root {
        --width: 100%;
    }
}

html {
    background-color: var(--primary-color);
    overflow-x: hidden;

}

body {
    overscroll-behavior: none;
    margin: 0 auto;
    padding: 0;
    font-family: var(--myfont);
    color: var(--fontcolor);
    overflow-x: hidden;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: var(--tertiary-color);
}

h2, h1{
    margin-top: 50px;
}

h1:first-of-type{
    margin-top: 0;
}

#logo{
    float: left;
    margin: 10px 0 10px 10px;
    max-width: 150px;
    height: 100%;
    width: 100%;
}

nav li{
    display: inline;
    padding-right: 5px;
}

header{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    margin: 0 auto;
    min-height: 70px;
}

#projects{
    color: var(--primary-color);
    background: #cecbe8;
    padding: 20px 0 20px 0;
}

section{
    position: relative;
    margin: 0 auto;
    max-width: var(--width);
    padding: 20px 0;
}


main{
    background-color: var(--background-color);
}

#tilecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}

.tile{
    width: 50%;
    height: 250px;
    padding: 10px 30px 30px 30px;
    border-radius: 25px;
    background-color: #fcfcfc;
    position: relative;
}

.tile_map{
    display: flex;
    justify-content: center;
}

.tile_circles{
    display: flex;
    justify-content: space-between;
}

.stat_map{
    height: 230px;
}

.subtile{
    width: 50%;
    position: relative;
}


.chart-subtile{
    position: relative; /* required for the responsiveness of chartjs charts */
    width: auto;
    height: 100%;
    max-height: 150px;
}

.tile h1{
    color: var(--primary-color);
    margin: 0 0 5px 0;
    letter-spacing: 1px;
    font-size: 20px;
}

.tile a{
    color: var(--secondary-color)
}

.gridcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 5rem;
    justify-content: space-between;
    width: 100%;
}

.gridcontainer a{
    color: var(--primary-color)
}

.researchertile > ul, .subresearchertile > ul {
    list-style-type: none;
}

.subgridcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5rem;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.researchertile > ul {
    padding-left: 25px;
}
.subresearchertile > ul {
    padding-left: 50px;
}

.subresearchertile > h3{
    background-color: #bf9ae5;
    font-family: inherit;
    color: #FFF;
    font-weight: normal;
    padding: 5px 50px 5px;
}
  
.researchertile > h2{
    background-color: var(--primary-color);
    font-family: inherit;
    color: #FFF;
    font-weight: normal;
    padding: 5px 25px 5px;
}

.researchertile:first-child {
    grid-column: 1 / span 2; /* make this item span two columns */
}

.abouttile:first-child {
    grid-column: 1 / span 2; /* make this item span two columns */
}

h1{
    font-weight: 300;
    color: var(--primary-color);
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
}

.tilelink, a.morearticles{
    clear: both;
    color: var(--primary-color);
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 20px;
    display: block;
}

.tilelink:after, .postextra a:after, a.morearticles:after{
    content: ">";
    padding-left: 10px;
}


#postcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.post{
    width: 45%;
    margin: 5px;
    min-height: 300px;
    position: relative;
}

.post h1{
    color: var(--primary-color);
    font-size: 20px;
}

.post a{
    text-decoration: none;
}

.postcontent{
    padding: 10px 10px 30px 10px;
}

.newsdescription > p{
    margin: 0;
}

.postextra{
    height: 30px;
    width: 100%;
    text-align: right;
    padding: 5px;
    margin: 0;
    padding: 5px 20px 0 20px;
    color: var(--primary-color);
    border-radius: 10px;
}

.postextra a{
    font-weight: bold;
    color: var(--primary-color);
}

a.morearticles{
    float: right;
}

.paginationmenu{
    text-align: center;
}

.postextra time{
    float: left;
}

@media only screen and (max-width: 1000px) {
    .tile{
        width: 100%;
    }

    section{
        width: 95%;
    }
    
    
    .researchertile{
        width: 100%;
    }

    .gridcontainer{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .subgridcontainer{
        grid-template-columns: repeat(1, 1fr);
     }
    

    #postcontainer{
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .post{
        position:relative;
        margin: 10px 0 0 0;
        width: 100%;
    }

    #tilecontainer{
        gap: 20px;
        flex-direction:  column;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 800px) {
    .pagefind-ui__result-excerpt.svelte-j9e30.svelte-j9e30{
        font-size: 13px;
    }

    .pagefind-ui__result.svelte-j9e30.svelte-j9e30.svelte-j9e30{
        padding: 0 5px 0 5px;
    }    

    .pagefind-ui__result-inner.svelte-j9e30.svelte-j9e30{
        margin: 0;
    }

    .pagefind-ui__button.svelte-e9gkc3{
        margin-top: 5px;
    }
    .pagefind-ui__message.svelte-e9gkc3{
        padding: 0 5px 0 5px;
    }

}

p{
    margin: 30px 0 0 0;
}

ol li ul li{
    margin-left: 50px
}

.accent{
    background-color: var(--secondary-color);
    color: #fff;
    display: block;
    clear: both;
    padding: 20px;
    margin-top: 20px;
}

content > ul, .accent > ul{
    margin: 1em 2em 1em 2em;

}

.titlesection{
    max-width: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--alternative-primary-color);
}

.titlesection > section > h1{
    font-weight: 500;
    letter-spacing: 2px;
}

.byline{
    color: var(--primary-color);
    letter-spacing: 2px;
}

.titlesection > section{
    margin-top: -40px;
}
#about img{
    float: left;
}

#bottomcontainer{
    width: 100%;
    background-color: var(--primary-color);
    color: #FFF;
}

#bottomcontent{
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    width: var(--width);
}

footer{
    width: 100%;
    min-height: 200px;
    background-color: var(--primary-color);
}


footer ul {
    list-style-type: none;
    padding: 0;
}

footer a{
    color: #fff;
}

#footercontainer{
    margin: 0 auto;
    width: var(--width);
    color: #fff;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#footerlogo{
    width: 200px;
    margin-left: 10px; /*Change this, lol */
}

.footerelement > h1{
    opacity: 0.5;
    margin: 10px 0 0 0;
    font-family: inherit;
    font-weight: 200;
    font-size: 1.5em;
}

.footerelement{
    margin: 0 10px 10px 10px;
    padding: 0;
    width: 100%;
}

#hcdhlogo{
    width: 100px;
    height: auto;
}


/* button magic */

.button > img{
    height: 30px;
    margin-left: 20px;
    vertical-align: middle;
}

.button, #closesearch {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    transition: 0.5s;
    background-size: 300% auto;
    color: white !important;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 500;
    background-color: var(--tertiary-color);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Roboto Mono", monospace;
}

.button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
}

.subresearchertile > .button,
.researchertile > .button{
    margin: 0 auto;
    margin-top: 10px;

}

/* Navigation */

nav{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

nav a{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
  }

/* mobile first */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.menu > .item > a:before{
    content: '';
    background: var(--tertiary-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.menu > .item > a:hover {
    background-position: 0;
    color: var(--secondary-color);
}

.menu > .item > a:hover::before{
    width: 100%;
}

.menu > .item > a > img{
    width: 20px;
    height: auto;
}

.menu > .item > a.language:before {
    transition: none;
    background-color: transparent;
}

.page-link { 
    color: var(--tertiary-color);
}

.page-link:hover { 
    color: var(--secondary-color);
}


.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    display: inline-block;
}
.uppermenu{
    position: absolute;
    right: 20px;
    top: 10px;
}

.searchicon{
    width: 20px;
    margin-right: 10px;
    position: relative;  
}

.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}

.active{
    padding: 0;
}

/* really small phones */

@media (max-width: 300px) {

.uppermenu{
    position: relative;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid red; */
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}


}

#logospartners > a > img{
    width: 50px;
    margin: 5px;
}
#logospartners{
    clear: both;
    margin-bottom: 15px;
}

/* Desktop nav */

@media all and (min-width: 960px) {

    nav{
        width: var(--width);
    }
    .menu {
        align-items: flex-end;     
        flex-wrap: nowrap;
        background: none;
        width: auto;
        clear: none;
        justify-content: flex-end;
        position: relative;
    }
    .logo {
        order: 0;
    }

    #logo{
        position: relative;
        float: left;
    }
    
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
        margin-top: 10px;
    }

    .searchicon{
        top: -10px;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
        
    .footerelement{
        width: auto;
    }

    .uppermenu{
        position: relative;
        top: 0;
        right: 10px;        
    }

}


/* Start search result madness */
#search{
    width: 100%;
    padding: 0 0 10px 0;
    clear: both;
}

#searchcontainer {
    display: none;
    position: absolute;
    top: 100px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(10px);
}


mark {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.pagefind-ui__drawer{
    background-color: #e4e2f2;
}

.pagefind-ui__message.svelte-e9gkc3{
    padding: 0 10px 0 10px;
    height: fit-content;
}

.pagefind-ui__result.svelte-j9e30.svelte-j9e30{
    gap: 0;
    padding: 10px;
}

ul.publicationauthors, ul.publicationauthors > li {
    display: inline;
    list-style: none;
    padding: 0;
}

.publicationauthors li::after{
    content: ",";
}

.publicationauthors li:last-child::after{
    content: "";
}
/* End search result madness */

/* Start marquee magic */

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    overflow: hidden;
    position: relative;
  }

  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }

  .marquee:before {
    left: 0;
    /* background: linear-gradient(to right, #111 0%, transparent 100%); */
  }

  .marquee:after {
    right: 0;
    /* background: linear-gradient(to left, #111 0%, transparent 100%); */
  }

  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }

  .marquee-content:hover {
    animation-play-state: paused;
  }

  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }

  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
    /* margin-right: 100px; */
  }
  
  .marquee-content li img {
    width: 100%;
    max-height: 150px;
  }
  
  .marquee-content li img:hover {
    width: 98%;
    height: 98%;
  }

  @media (max-width: 600px) {
    :root {
      --marquee-width: 100%;
      --marquee-height: var(--marquee-height);
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
      
  }

  /* End marquee magic */
  /* Button styles */
  .checked-mode{
    background-color: var(--secondary-color) !important;
  }

  .processselector{
    display: block;
    margin: 10px;
    clear: right;
  }

  .processselector.checked-mode{
    display: block;
    margin: 10px;
    clear: right;
    background-color: green;
  }

  /* Code block render per language */
  
  code {
    padding: 2px 5px;
    color: #f8f8f2;
    background-color: #38365b;
  }
  
  pre code {
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }
  /*custom drive display*/
  

  .drive{
    display: block;
    overflow: hidden;
    width: 80%;
    margin: 10px auto;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 10px;
  }

  .drivetitle{
    width: 90px;
    float: left;
    height: 90px;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    margin-right: 10px;
  }

  .comment{
    background-color: pink;
    font-weight: bold;
    color: red;
  }


/* Project carousel */

.projectCarousel{
    position: relative;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    height: 200px;
    justify-content: center;
}

.projectContent{
    display: none;
    right: 0;
    bottom: 0;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    flex: 0 0 auto;
    justify-content: center;
    border-radius: 25px;
    background-color: #FFFFFF;
}

 

.projectContent > p{
    margin: 0;
}

.projectItem{
    width: 100%;
}

#projects > section > .active{
    display: flex;
}

.active_block{
    display: block;
}

.projectLink{
    display: block;
    width: 30%;
    color: var(--secondary-color);
    background-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;

}

.projectName{
    cursor: pointer;    
}

#projectLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}


@media (min-width: 1000px) {

    .projectContent{ 
        position: absolute;
        width: 65%;
    }

    #projectLinks{
        display: block;
        margin-bottom: 0;
    }
    .projectLink{
        margin-top: 4px;
    }
    
}

/* Publications per author */

h2.key{
    color: var(--primary-color);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 40px;
}

h2.key:first-of-type{
    margin-top: 0;
}

main > ul, main > ol {
    margin-top: 20px;
}

main > ul > li > ul > li{
    margin-left: 40px;
}

div.publication{
    padding: 20px;
}

:nth-child(even of div.publication) {
    background-color: transparent;
}

:nth-child(odd of div.publication) {
    background-color: var(--alternative-primary-color);
}

.themedisplay > :nth-child(odd of div.publication) {
    background-color: transparent;
}


.authordisplay{
    list-style: none;
}

.authordisplay > li{
    padding: 10px 0 10px 0;
}

.publ_bold{
    width: 150px;
    font-weight: 600;
    color: var(--primary-color);
    display: inline-block;
}

.publ_tag > ul{
    list-style: none;
    display: inline;
}

.publ_tag > ul > li{
    display: inline;
}

.publ_tag{
    width: 100%;
}

.publ_param::after, .publ_datasource::after{
    content: ",";
}

.publ_param:last-child::after, .publ_datasource:last-child::after{
    content: "";
}

.buttons{
    clear: both;
    display: block;
    width: 100%;
}

.thememenu{
    font-weight: 600;
    letter-spacing: 2px;
    color: #FFF;
    margin: 20px 10px 10px 10px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.selectionform-submit-button {
    width: 200px;
    padding: 5px 0px;
    text-align: center;
    transition: 0.5s;
    background-size: 300% auto;
    color: white !important;
    border-radius: 10px;
    display: inline-block;
    border: 0px;
    font-weight: 500;
    background-color: var(--tertiary-color);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Roboto Mono", monospace;
    margin: 10px 10px;
}

.publication > p{
    margin: 0 0 40px 20px;
}

h3.citation{
    color: var(--secondary-color);
    font-weight: 400;
    letter-spacing: 1.5px;
}


/* footer */


.waves > use {
    animation: move-forever 40s -90s linear infinite;
    fill: #786ebd;
    fill-opacity: .2;
  }
  
  .waves > use:nth-child(2) {
    animation-delay: -20s;
    animation-duration: 30s;
    fill-opacity:.5;
  }

  .waves > use:nth-child(3) {
    animation-delay: -10s;
    animation-duration: 20s;
    fill-opacity:1;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  #footertop{
    margin: 0 auto;
    width: 100%;
    background-color: var(--background-color);
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#footertop > svg {
    max-height: 100px;
    width: 100%;
  }

div.flipflop{
    overflow: auto;
    padding: 10px 0 30px 0;
}

:nth-child(even of div.flipflop) {
    background-color: transparent;
}

:nth-child(odd of div.flipflop) {
    background-color: var(--alternative-primary-color);
}

.blogdescription > p{
    margin: 0;
}

.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-style: italic;
    color: var(--fontcolor);
    text-align: center;
    position: relative;
    float: left;
    margin-right: 20px;
}

.flipflop > section > h1{
    letter-spacing: 2px;
}

:nth-child(odd of div.flipflop) > section > .circle {
    background-color: var(--background-color);
}

:nth-child(even of div.flipflop) > section > .circle {
    background-color: var(--alternative-primary-color);
}

.circle > time{
    position: absolute;
    top: 50%;
    left: 10px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
}