{{ define "main" }}
</section>
<div class="introductionsection">
    <div class="introductionChartContainer">
        <div class="introductionChart">
            <canvas id="IntroductionChart" width="400" height="400"></canvas>
        </div>
    </div>
    <section>
        <div class="introductioncontent">
            <div class="abouttile">
                {{ .Content }}
                <div class="subgridcontainer">
                    <div class="subresearchertile">
                        <a class="button" href="/about_elan" class="tilelink">{{ i18n "about-elan" }}</a>
                    </div>
                    <div class="subresearchertile">
                        <a class="button" href="/about_data" class="tilelink">{{ i18n "about-data" }}</a> 
                    </div>
                </div>
            </div>
            <div class="circlescontainer">
                <div id="smallcircleintroduction" class="circlesintroduction">
                    <div class="circleintroduction"></div>
                    <div class="circleintroduction"></div>
                    <div class="circleintroduction"></div>
                    <div class="circleintroduction"></div>
                </div>

                <div id="bigcircleintroduction" class="circlesintroduction">
                    <div class="circleintroduction"></div>
                    <div class="circleintroduction"></div>
                    <div class="circleintroduction"></div>
                    <div class="circleintroduction"></div>
                </div>
            </div>
        </div>
        
    </section>
</div>
{{ .Page.Store.Set "hasGraph" true }}
{{ .Page.Store.Set "introductionGraph" true }}


<section>
    <h1>{{ i18n "latest-publication" }}</h1>
            
    {{ $publications :=  (where .Site.Pages "Params.Category" "Publication") }}
            
    {{ range last 1 $publications }}
        <p>{{ .Title }}</p>
    {{ end }}


    <a href="/publications" class="tilelink">{{ i18n "read-publications" (len $publications) }}</a>    

</section>

<div id="projects">
    <section>
        <h1>{{ i18n "projects" }}</h1>
            {{ $projects :=  ( where .Site.Pages "Params.Category" "Project") }}
            {{ $projects :=  ( where $projects "Params.Featured" true) }}
            {{ $iterator := 1 }}
            <div id="projectLinks">
                {{ range $projects }}
                    <div class="projectLink projectItem" data-projectcontent="projectContent_{{ $iterator }}">
                        <span class="projectName">               
                            {{ .Title }}
                        </span>
                    </div>
                    {{ $iterator = add $iterator 1}}
                {{ end }}
            </div>
            {{ $iterator := 1 }}
            {{ range $projects }}
                <div class="projectContent projectContent_{{ $iterator }}">
                    {{ .Content }}
                    <div class = "projectPage">
                        <a href="https://{{ .Params.Url }}" target="_blank">{{ i18n "more-project" }}</a>
                    </div>
                </div>
                {{ $iterator = add $iterator 1}}
            {{ end }}
            {{ .Page.Store.Set "hasProjectCaroussel" true }}

    </section>

</div>
<section>

<div id="news" class="element">
    <h1>{{ i18n "news" }}</h1>

    <div id="postcontainer">
        {{ $paginator := .Paginate (where .Site.Pages "Params.Category" "News")}}
        {{ range first 2 $paginator.Pages}}
        {{ partial "summary.html" . }}
        <!-- <p>{{ .Content }}</p> -->
        {{ end }}
    </div>

    <!-- SO UGLY -->
    {{ $pre := "news" }}
    {{ if(eq site.Language.Lang "nl") }}
    {{ $pre := "/nl/nieuws" }}
    {{ end }}
    <a class="morearticles" href= "{{ print $pre }}">{{ i18n "read-articles" }}</a>
</div>

{{ partial "partners.html" . }}
</section>
{{ end }}


