{{ define "main" }}


<div id="tilecontainer">
    <div class="tile">
        <h1>{{ i18n "latest-publication" }}</h1>
        
        {{ $publications :=  (where .Site.AllPages "Params.Category" "Publication") }}
                
        {{ range last 1 $publications }}
            {{ .Title }}
        {{ end }}


        <div class="tilemore"><a href="/publications">Click here to read about all {{ len $publications}} publications </a></div>
    </div>
    <div class="tile tile_circles">
        <div class="subtile">
            <h1>{{ i18n "patients" }}</h1>
            {{partial "svgs/patients.svg" (dict "class" "stat_circle") .}}
        </div>
        <div class="subtile">
            <h1>{{ i18n  "practices" }}</h1>
            {{partial "svgs/practices.svg" (dict "class" "stat_circle") .}}
        </div>
    </div>
    <div class="tile tile_map">
        {{partial "svgs/elan_map.svg" (dict "class" "stat_map") .}}
    </div>
</div>
<div id="about" class="element">
    <h1>About</h1>
    <p>
        {{ .Content }}
    </p>
</div>

<div class="element" id="projects">
    <h1>{{ i18n "projects" }}</h1>
    {{ $projects :=  ( where .Site.AllPages "Params.Category" "Project") }}
    {{ $projects :=  ( where $projects "Params.Featured" true) }}
    {{ range $projects }}
        {{ .Title }} <br />
    {{ end }}
    
</div>

<div id="news" class="element">
    <h1>{{ i18n "news" }}</h1>

    <div id="postcontainer">
        {{ $paginator := .Paginate (where .Site.Pages "Params.Category" "News")}}
        {{ range last 2 $paginator.Pages}}
        {{ partial "summary.html" . }}
        <!-- <p>{{ .Content }}</p> -->
        {{ end }}
    </div>

    <!-- SO UGLY -->
    {{ $pre := "news" }}
    {{ if(eq site.Language.Lang "nl") }}
     {{ $pre := "/nl/nieuws" }}
    {{ end }}
    <a class="morearticles" href= "{{ print $pre }}">{{ i18n "read-articles" }}</a>
</div>

{{ partial "partners.html" . }}



{{ end }}
