@charset "utf-8";

:root{
    --myfont: "Open Sans", sans-serif;
    --width: 75%;
    --primary-color: #786ebd;
    --background-color: #fff;
    --secondary-color: #ef033e; 
    --tertiary-color: #5a99f8;
    --fontcolor: #6a6874;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--myfont);
    color: var(--fontcolor);
}

#logo{
    width: fit-content;
    float: left;
    margin: 5px 0;
}

nav li{
    display: inline;
    padding-right: 5px;
}


#headercontainer{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    margin: 0 auto;
    height: auto;
}

#logo img{
    margin: 15px 5px 0 0; 
    height: 50px;
}


header{
    position: relative;
    width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.headerelement{
    width: 50%;
    padding: 0 100px 0 100px;
}

.publicationstats{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(79, 75, 116, 0.6);
}

main{
    position: relative;
    margin: 0 auto;
    width: var(--width);
    padding: 20px 0;
}

#tilecontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.tile{
    width: 30%;
    margin: 5px;
    min-height: 230px;
    padding: 10px 10px 30px 10px;
    box-shadow: var(--primary-color) 0px 8px 10px -10px;
    border-radius: 25px;
    background-color: #fcfcfc;
    
}

.tile_map{
    display: flex;
    justify-content: center;
}

.tile_circles{
    display: flex;
    justify-content: space-between;
}

.stat_map{
    height: 230px;
}

.subtile{
    width: 50%;
}

.stat_circle{
    max-height: 150px;
    width: 100%;
}

.tile  h1{
    color: var(--primary-color);
    margin: 0 0 20px 0;
    letter-spacing: 2px;
}

.tile a{
    color: var(--secondary-color)
}

@media only screen and (max-width: 1000px) {
    .tile{
        width: 100%;
    } 

    #tilecontainer{
        display: block;
    }

    header{
        flex-wrap: wrap;
    }

    .headerelement{
        width: 100%;
        margin: 0 auto;
        clear: both;
    }
}

.element{
    clear: both;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

#about{
    background-color: var(--primary-color);
    color: #fff;
}

#about img{
    float: left;
}

#bottomcontainer{
    width: var(--width);
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

#footercontainer{
    width: 100%;
    min-height: 200px;
    background-color: var(--primary-color);
}

footer{
    margin: 0 auto;
    width: var(--width);
    color: #fff;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#footerlogo{
    width: 200px;
    margin-left: 10px; /*Change this, lol */
}

.footerelement > h1{
    opacity: 0.5;
    margin: 10px 0 0 0;
    font-family: inherit;
    font-weight: 200;
    font-size: 1.5em;
}

.footerelement{
    margin: 0 10px 10px 10px;
    padding: 0;
    width: 100%;
}


#hcdhlogo{
    width: 100px;
    height: auto;
}

.sociallogo{
    opacity: 0.5;
    width: 30px;
    padding: 10px;
}

#buttoncontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button > img{
    height: 10px;
    margin-left: 20px;
    vertical-align: middle;
}

/* button magic */

.button {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 300% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 500;
    background-image: linear-gradient(45deg, #e0062a 0%, #ef033e  51%, #e0062a  54%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Roboto Mono", monospace;
}

.button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
}


/* Navigation */


#navcontainer{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    min-height: 100px;
}

nav{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

nav a{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
  }

/* mobile first */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    clear: both;
    width: 100%;
    margin: 0 auto;
}

.menu > .item > a.highlight{
    color: #00b0f0;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
/* Desktop nav */

@media all and (min-width: 960px) {

    nav{
        width: var(--width);
    }
    .menu {
        align-items: flex-end;     
        flex-wrap: nowrap;
        background: none;
        width: auto;
        clear: none;
        justify-content: flex-end;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
        
    .footerelement{
        width: auto;
    }
}