<div id="footertop">
  <svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28"
  preserveAspectRatio="none"
  >
  <defs>
    <path
      id="gentle-wave"
      d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z"
    />
  </defs>
    <g class="waves">
      <use
        xlink:href="#gentle-wave"
        x="50"
        y="0"
      />
      <use
        xlink:href="#gentle-wave"
        x="50"
        y="3"
      />
      <use
        xlink:href="#gentle-wave"
        x="50"
        y="3"
      />
    </g>
  </svg>
</div>

<div id="footercontainer">
  {{ $linkedin := resources.Get "images/logo_linkedin.svg" }}
  {{ $x := resources.Get "images/logo_x.svg" }}
  {{ $github := resources.Get "images/logo_github.svg" }}

  <div class="footerelement">
    <ul>
    <li><a href="" class="button" alt="GitHub">GitHub<img src="{{ $github.RelPermalink }}" alt="GitHub logo" /></a></li>
    <li><a href="http://www.elanresearch.nl" target="_blank">Ticket system</a></li>
    <li><a href="http://www.lumc.nl/elan" target="_blank">Information in Dutch</a></li>
    </ul>
  </div>
  <div class="footerelement">
    <!-- <h1>Resources</h1>
    About ELAN<br/>
    About the Data<br/>
    News<br/>
    Publications<br/>
    Projects<br/> -->
    {{ if .Site.Menus.footer_menu }}
    <ul>
    {{ range .Site.Menus.footer_menu.ByWeight }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
    {{ end }}
  </div>

  <div class="footerelement">
    <h1>Email</h1>
    elan.dcc@lumc.nl
    <h1>Socials</h1>
    <img src="{{ $linkedin.RelPermalink }}" class="sociallogo" alt="LinkedIn logo" />
    <img src="{{ $x.RelPermalink }}" class="sociallogo" alt="X logo" />
  </div>
</div>
<div id="bottomcontainer">
  <div id="bottomcontent">
    {{ .Site.Copyright }} | {{ markdownify .Site.Params.update }}
  </div>
</div>