{{ $search := resources.Get "images/search.svg" }}


<div id="logo">
  <!-- {{ .Site.Title }} -->
    
  {{ $logo := resources.Get "images/logo_elan_hor.svg" }}
  <a href="{{ relURL .Site.Home.RelPermalink }}" class="title"><img src="{{ $logo.RelPermalink }}" alt="ELAN" /></a>
</div>

<ul class="menu">
  {{ if .Site.Menus.main }}
  {{ range .Site.Menus.main.ByWeight }}
    <li class="item"><a href="{{ .URL }}">{{ .Name }}</a></li>
  {{ end }}
  {{ end }}
  <div class="uppermenu">
    <img src="{{ $search.RelPermalink }}" alt="search" class="searchicon"/>
    <div class="toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
<!-- <a href='{{ absURL "index.xml" }}'>RSS</a> -->

<!-- Convert this page's translations into a dict -->
{{ $translations := dict }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}

  <li class="item">
    <!-- Create a link to every translation -->
    {{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
      {{ with (index $translations .Lang) }}
        {{ $image := print "images/lang_" .Language.LanguageName ".svg" }}
        {{ $image = resources.Get $image }}
        <a class="language" href="{{ .RelPermalink }}"><img src= "{{ $image.RelPermalink}}" alt = "{{ .Language.LanguageName }}" /></a>
      {{ else }}
        <!-- The complicated setup was necessary to make a grayed out link -->
        {{ if not .Params.hideUntranslated }}
          <a class="disabled" role="link" aria-disabled="true">{{ .LanguageName }}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </li>

</ul>

<div id="overlay"></div>
<div id="searchcontainer">

  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: "#search", showSubResults: false, pageSize: 3, showImages: false, resetStyles: false });
      });
  </script>
  <button onclick="closeFn()" id= "closesearch">
    Close
</button>
</div>