{{ define "main" }}

{{ .Content }}
<div id="tilecontainer">
  <div class="tile">
    <a href="http://www.elanresearch.nl" target="_blank">Request a ticket</a>
  </div>
  <div class="tile">
    <a href="https://github.com/elan-dcc/org/blob/main/codebooks/STIZON%20HA%20codeboek%202023-09-28.pdf">Codebook GP data</a><br/>
    Version: 0<br />
    Last update: 28-09-2023
  </div>
  <div class="tile">
    <a href="https://github.com/elan-dcc/org/blob/main/codebooks/Codeboek_ELAN_CBS_V9.6.xlsx" target="_blank">Codebook other data</a><br/>
    Version: 9.6<br />
    Last update: 27-05-2024
  </div>
</div>



<div id="tilecontainer">
  <div class="researchertile">
    <h2>General</h2>
    {{ if .Site.Menus.researchers_menu }}
    <ul>
    {{ range .Site.Menus.researchers_menu.ByWeight }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="researchertile">
      <h2>External environment</h2>
    <ul>
    {{ range .Site.Menus.researchers_menu_ext }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  </div>
  <div class="researchertile">
    <h2>Internal environment</h2>
    <ul>
      {{ range .Site.Menus.researchers_menu_int }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
</div>
</div>


{{ end }}