{{ define "main" }}

{{ .Content }}
<div class="gridcontainer">
  <div class="researchertile">
    <h2>General information about ELAN</h2>
    {{ if .Site.Menus.researchers_menu }}
    <ul>
    {{ range .Site.Menus.researchers_menu.ByWeight }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
    {{ end }}
    <div class="subgridcontainer">
      <div class="subresearchertile">
        <h3>The external environment (CBS-RA)</h2>
        <ul>
        {{ range .Site.Menus.researchers_menu_ext }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
        <a href="{{ .Site.Params.codeBookCBS }}" class="button" target="_blank">Codebook CBS data</a>
      </div>
      <div class="subresearchertile">
        <h3>The internal environment (I-Drive)</h2>
        <ul>
          {{ range .Site.Menus.researchers_menu_int }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        <a href="{{ .Site.Params.codeBookGP }}" class="button" target="_blank">Codebook GP data</a>
      </div>
    </div>
  </div>
  <div class="researchertile">
    <h2>Community & Support</h2>
    <ul>
      {{ range .Site.Menus.support_menu }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <a href="https://lumconline.sharepoint.com/sites/ELANKnowledgeSharing" class="button" target="_blank">Join the weekly meetings!</a>    
  </div>
</div>


{{ end }}