{{ define "main" }}

{{- partial "nav_publications.html" . -}}

{{ .Content }}

<div class="thememenu">
  Select theme
  <div class="buttons">
    {{ range .Site.Taxonomies.themes }}
      <button id="check-logo" class="selectionform-submit-button" onclick="tagmagician('clickert-{{ .Page.Title }}', this)">{{ .Page.Title }}</button>
    {{ end }}
  </div>
</div>
<div class="thememenu">
  Select datasource
  <div class="buttons">
    {{ range .Site.Taxonomies.datasources }}
      <button id="check-logo" class="selectionform-submit-button" onclick="tagmagician('clickerd-{{ .Page.Title }}', this)">{{ .Page.Title }}</button>
    {{ end }}
  </div>
</div>

  {{ range $key, $taxonomy := .Site.Taxonomies.year }}
      {{ range $taxonomy.Pages }}
        {{- partial "publication.html" . -}}
      {{ end }}
  {{ end }}


{{ $js := resources.Get "tagmagician.js" | minify }}

<script src="{{ $js.RelPermalink }}"></script>


{{ end }}